Babel==2.17.0
matplotlib==3.10.1
numpy==2.2.3
pandas==2.2.3
pyspark==3.5.5
scipy==1.15.2
seaborn==0.13.2
streamlit==1.43.0
geopandas==0.13.2
shapely==2.0.1
fiona==1.9.4
pyproj==3.6.0
rtree==1.0.1